{% extends 'base.html' %}

{% block head %}
	<title>Home</title>
{% endblock %}

{% block body %}

    <div class="jumbotron">
		<div class="container">
			<h1>ChemTox Data Management System</h1>
			<p>This project is a database site that stores chemical and toxicity information by hosting this information through a database and displaying it through a styled front end UI. The interface should allow users to search the database, upload data and perform basic statistical analysis. It supports access from multiple users and maintains data consistency and integrity. It also allows management of user accounts and advanced data search and analysis.
			</p>
			<h2>Authors</h2>
			<p>Brandon L. | Mason A. | James L. | Anthony B.</p>
			<h2>Technologies</h2>
			<p>Currently we are hosting this site through XAMPP's local Apache hosting server just to test our site but we will eventually be moving our files to a proper online web-server. We are using Boostrap from www.getbootstrap.com for our frontend files, we are using Django python framework for our server-side language to connect information from our database that is being hosted through MySQL.
			</p>
			<h2>How to Contribute</h2>
			<p>Fork to create your own branch, make changes, push to your remote branch, make a pull request to main branch.
			</p>
			<h2>How to Run</h2>
			<p>This project is run through the XAMPP local web server.
			</p>
		</div>
	</div>

{% endblock %}