{% extends 'base.html' %}

{% block head %}
	<title>Home</title>
{% endblock %}

{% block body %}

	<div class="jumbotron" style="background: linear-gradient(to right,  #bfb, #efe);">
		<div class="container">
			<h1>ChemMoA Data Management Website</h1>
			<h4>The chemical toxicity data-site</h4>
		</div>
	</div>
	<div class="learn-more">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Explore</h3>
					<p>Trying to search our expansive database of chemical/toxicity data?</p>
					<a href="explore">Click here</a>
				</div>
				<div class="col-md-4">
					<h3>Manage</h3>
					<p>Are you an administrative member that would like to alter data?</p>
					<a href="manage">Click here</a>
				</div>
				<div class="col-md-4">
					<h3>Help</h3>
					<p>Need help on where to go, what to do, or how to do it?</p>
					<a href="#">Click here</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}