{% extends 'base.html' %}

{% block head %}
	<title>Manage</title>
{% endblock %}

{% block body %}

	<div class="container" style="margin-top: 20px; margin-bottom: 20px;">

		<form method="GET" action=" " style="display: inline-block;">
			<input type="radio" value="All" name="tableview">All
			<input type="radio" value="Experiment" name="tableview" checked="checked" >Experiment
			<input type="radio" value="Target" name="tableview"
			{% if request.GET.tableview == "Target" %}checked="checked"{% endif %} >Target
			<input type="radio" value="Citation" name="tableview"
			{% if request.GET.tableview == "Citation" %}checked="checked"{% endif %} >Citation
			<input type="radio" value="Chemical" name="tableview"
			{% if request.GET.tableview == "Chemical" %}checked="checked"{% endif %} >Chemical
			<input type="submit" name="go" style="display: none;">
		</form>

		<div class="table-responsive">

			<!-- TABLE FOR EXPERIMENT SEARCH -->
			{% if request.GET.tableview == "Experiment" or request.GET.tableview == NULL %}
			<table class="table" id="experiment" style="margin-top: 20px; border: 1px solid gray;">
				<tr><th colspan="7" class="table-warning" style="text-align: center;">EXPERIMENT TABLE</th></tr>
				<tr>
					<th class="table-success">Aeid</th>
					<th class="table-success">Source Name</th>
					<th class="table-success">Source Long Name</th>
					<th class="table-success">Experiment Name</th>
					<th class="table-success">Organism</th>
					<th class="table-success" colspan="2">Tissue</th>
				</tr>

			{% for attributes in experiment_results %}
				<tr>
					<td>{{attributes.aeid}}</td>
					<td>{{attributes.assay_source_name}}</td>
					<td>{{attributes.assay_source_long_name}}</td>
					<td>{{attributes.assay_name}}</td>
					<td>{{attributes.organism}}</td>
					<td>{{attributes.tissue}}</td>
					<td><form method="GET"><input type="submit" name="delete" value="DELETE">{% csrf_token %}</form></td>
				</tr>
			{% endfor %}
			</table>

			<div class="pagination" style="justify-content: center;">
			    <span class="step-links">
			    	{% if experiment_results.has_previous %}
			            <a href="?page=1&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">&laquo; first</button></a>
			            <a href="?page={{ experiment_results.previous_page_number}}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">previous</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">&laquo; first</button>
			        	<button class="btn btn-secondary disabled">previous</button>
			        {% endif %}

			        <span class="current">
			            Page {{ experiment_results.number }} of {{ experiment_results.paginator.num_pages }}.
			        </span>

			        {% if experiment_results.has_next %}
			            <a href="?page={{ experiment_results.next_page_number }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">next</button></a>
			            <a href="?page={{ experiment_results.paginator.num_pages }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">last &raquo;</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">next</button>
			        	<button class="btn btn-secondary disabled">last &raquo;</button>
			        {% endif %}
			    </span>
			</div>
			{% endif %}

			<!-- TABLE FOR TARGET SEARCH -->
			{% if request.GET.tableview == "Target" %}
			<table class="table" id="target" style="margin-top: 20px; border: 1px solid gray;">
				<tr><th colspan="9" class="table-warning" style="text-align: center;">TARGET TABLE</th></tr>
				<tr>
					<th class="table-success">Intended Official Full Name</th>
					<th class="table-success">Intended Gene Name</th>
					<th class="table-success">Intended Official Symbol</th>
					<th class="table-success">Intended Gene Symbol</th>
					<th class="table-success">Technological Official Full Name</th>
					<th class="table-success">Technological Gene Name</th>
					<th class="table-success">Technological Offical Symbol</th>
					<th class="table-success" colspan="2">Technological Gene Symbol</th>
				</tr>

			{% for attributes in target_results %}
				<tr>
					<td>{{attributes.intended_target_official_full_name}}</td>
					<td>{{attributes.intended_target_gene_name}}</td>
					<td>{{attributes.intended_target_official_symbol}}</td>
					<td>{{attributes.intended_target_gene_symbol}}</td>
					<td>{{attributes.technological_target_official_full_name}}</td>
					<td>{{attributes.technological_target_gene_name}}</td>
					<td>{{attributes.technological_target_official_symbol}}</td>
					<td>{{attributes.technological_target_gene_symbol}}</td>
					<td><button>DELETE</button></td>
				</tr>
			{% endfor %}
			</table>

			<div class="pagination" style="justify-content: center;">
			    <span class="step-links">
			    	{% if target_results.has_previous %}
			            <a href="?page=1&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">&laquo; first</button></a>
			            <a href="?page={{ target_results.previous_page_number}}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">previous</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">&laquo; first</button>
			        	<button class="btn btn-secondary disabled">previous</button>
			        {% endif %}

			        <span class="current">
			            Page {{ target_results.number }} of {{ target_results.paginator.num_pages }}.
			        </span>

			        {% if target_results.has_next %}
			            <a href="?page={{ target_results.next_page_number }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">next</button></a>
			            <a href="?page={{ target_results.paginator.num_pages }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">last &raquo;</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">next</button>
			        	<button class="btn btn-secondary disabled">last &raquo;</button>
			        {% endif %}
			    </span>
			</div>
			{% endif %}

			<!-- TABLE FOR CITATION SEARCH -->
			{% if request.GET.tableview == "Citation" %}
			<table class="table" id="citation" style="margin-top: 20px; border: 1px solid gray;">
				<tr><th colspan="5" class="table-warning" style="text-align: center;">CITATION TABLE</th></tr>
				<tr>
					<th class="table-success">Pmid</th>
					<th class="table-success">Doi</th>
					<th class="table-success">Title</th>
					<th class="table-success" colspan="2">Author</th>
				</tr>

			{% for attributes in citation_results %}
				<tr>
					<td>{{attributes.pmid}}</td>
					<td>{{attributes.doi}}</td>
					<td>{{attributes.title}}</td>
					<td>{{attributes.author}}</td>
					<td><button>DELETE</button></td>
				</tr>
			{% endfor %}
			</table>

			<div class="pagination" style="justify-content: center;">
			    <span class="step-links">
			    	{% if citation_results.has_previous %}
			            <a href="?page=1&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">&laquo; first</button></a>
			            <a href="?page={{ citation_results.previous_page_number}}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">previous</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">&laquo; first</button>
			        	<button class="btn btn-secondary disabled">previous</button>
			        {% endif %}

			        <span class="current">
			            Page {{ citation_results.number }} of {{ citation_results.paginator.num_pages }}.
			        </span>

			        {% if citation_results.has_next %}
			            <a href="?page={{ citation_results.next_page_number }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">next</button></a>
			            <a href="?page={{ citation_results.paginator.num_pages }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">last &raquo;</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">next</button>
			        	<button class="btn btn-secondary disabled">last &raquo;</button>
			        {% endif %}
			    </span>
			</div>
			{% endif %}

			<!-- TABLE FOR CHEMICAL SEARCH -->
			{% if request.GET.tableview == "Chemical" %}
			<table class="table" id="chemical" style="margin-top: 20px; border: 1px solid gray;">
				<tr><th colspan="7" class="table-warning" style="text-align: center;">CHEMICAL TABLE</th></tr>
				<tr>
					<th class="table-success">Substance Name</th>
					<th class="table-success">CASRN</th>
					<th class="table-success">SMILES</th>
					<th class="table-success">InChl</th>
					<th class="table-success">Formula</th>
					<th class="table-success" colspan="2">Molecular Weight</th>
				</tr>

			{% for attributes in chemical_results %}
				<tr>
					<td>{{attributes.Substance_Name}}</td>
					<td>{{attributes.Substance_CASRN}}</td>
					<td>{{attributes.Structure_SMILES}}</td>
					<td>{{attributes.Structure_InChl}}</td>
					<td>{{attributes.Structure_Formula}}</td>
					<td>{{attributes.Structure_MolWt}}</td>
					<td><button>DELETE</button></td>
				</tr>
			{% endfor %}
			</table>

			<div class="pagination" style="justify-content: center;">
			    <span class="step-links">
			    	{% if chemical_results.has_previous %}
			            <a href="?page=1&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">&laquo; first</button></a>
			            <a href="?page={{ chemical_results.previous_page_number}}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">previous</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">&laquo; first</button>
			        	<button class="btn btn-secondary disabled">previous</button>
			        {% endif %}

			        <span class="current">
			            Page {{ chemical_results.number }} of {{ chemical_results.paginator.num_pages }}.
			        </span>

			        {% if chemical_results.has_next %}
			            <a href="?page={{ chemical_results.next_page_number }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">next</button></a>
			            <a href="?page={{ chemical_results.paginator.num_pages }}&q={{request.GET.q}}&tableview={{request.GET.tableview}}"><button class="btn btn-secondary">last &raquo;</button></a>
			        {% else %}
			        	<button class="btn btn-secondary disabled">next</button>
			        	<button class="btn btn-secondary disabled">last &raquo;</button>
			        {% endif %}
			    </span>
			</div>
			{% endif %}

		</div>
	</div>
{% endblock %}